/* Debugging  */
.con_main{
    background-color: aquamarine;
} 
.con_phrase{
    background-color: blue;
}
.con_notice>ul>li{
    background-color: brown;
}
.con_doc_1{
    background-color: chartreuse;
}
.con_doc_2{
    background-color:rgb(186, 30, 61);
}
.con_doc_2_photo{
    background-color: crimson;
}
.con_doc_3{
    background-color: cyan;
}
.con_doc_4{
    background-color: darkblue;
}
.con_doc_5{
    background-color: darkgoldenrod;
}
.con_doc_5_top{
    background-color: rgb(205, 153, 23);
}
.con_doc_5>ul>li{
    background-color: darkgray;
}
.con_doc_5_bot{
    background-color: rgb(205, 153, 23);
}
.bot{
    background-color: rgb(170, 41, 170);
}
.bot_contact{
    background-color: darkmagenta;
}
.bot_footer{
    background-color:darkmagenta;
}
.badalink{
    width: 80px;
    height: 30.76px;
    position: absolute;
    left:calc(100% - 200px);
    top:20px;
}
.badalink>a{
    color: blue;
    height:30.76px;
}
.badalink>a>img{
    width: 80px;
}

/* Main */
@font-face {
    font-family: "pretendard";
    src: url('../../font/Pretendard-Regular.ttf');
}
@font-face {
    font-family:"pretendard_B";
    src: url('../../font/Pretendard-Bold.ttf');
}
@font-face {
    font-family: "pretendard_D";    
    src: url('../../font/Pretendard-Black.ttf');
}
*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    padding:0rem;
    margin:0rem;
    color:#000;
}
.main{
    width:100%;
    height:100%;
}
.top{
    width:100%;
    height: 115px;
    position: absolute;
    display: flex;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0,0.9), rgba(0,0,0,0));
}
.top:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
    background-color:#11365f;
}
.top>img{
    position:relative;
    margin-top: 32px;
    margin-left: 35px;
    margin-right: 20px;
    height: 64px;
}
.top_nav{
    position: relative;
    display:flex;
    font-family: 'pretendard_B';
    font-size: 1.2rem;
    letter-spacing: 1px;
    justify-content: space-around;
    width: 720.74px;
    height: 22.4px;
    top:66.6px;
}
.top_nav>li>a>span{
    color:#fff;
}
.top_nav_sec{
    position: absolute;
    display: flex;
    font-family: 'pretendard_B';
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    width:350px;
    top:77px;
    left:calc(100% - 445px);
    justify-content: space-between;
}
.top_nav_sec>li>a>span{
    color: #fff;
}
.top_search{
    position: absolute;
    left:calc(100% - 60px);
    top:71px;
}
.top_search>img{
    width: 20px;
}
.raw_container{
    position:relative;
}
.container{
    width:100%;
    height:100%;
}
.con_main{
    background-color: #11365f;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.con_video_overlay{
    position:absolute;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 40vw;
    top:0%;
    background: linear-gradient(180deg, rgba(17,54,95,.10) 50%, rgba(17,54,95,1) 100%);
}
.con_video{
    position:relative;
    width:100%;
    height:40vw;
    padding-bottom:4rem;
}
.con_video>video{
    position:absolute;
    width:100%;
}
.con_main_headline{
    position:absolute;
    display:flex;
    justify-content:center;
}
.con_main_headline>:first-child{
    color:#08b9d3;
}
.con_main_headline>:last-child{
    color:white;
}
.con_main_bottom{
    width: 100%;
    height:calc(5vw + 29.4px);
}
.con_phrase{
    width:100%;
    height:270px;
    background-color: #11365f;
}
.con_notice{
    width:100%;
    height:524.61px;
    position: relative;
    margin-top:-70px;
    display: flex;
}
.con_notice>ul{
    width: 1165px;
    left:calc((100% - 1165px)/2);
    position: relative;
    display: flex ;
    justify-content: space-between;
}
.con_notice>ul>li{
    width:376px;
    height:450px;
    border-radius: 1rem;
}
.con_doc_1{
    width: 100%;
    height: 475px;
}
.con_doc_2{
    width:100%;
    height:822.32px;
}
.con_doc_2_photo{
    width: 100%;
    height: 514.24px;
}
.con_doc_2_article{
    width: 100%;
    height: 308.8px;
}
.con_doc_3{
    width: 100%;
    height: 749.24px;
}
.con_doc_4{
    width: 100%;
    height: 350px;
}
.con_doc_5{
    width: 100%;
    height: 713.19px;
    overflow: hidden;
}
.con_doc_5_top{
    width: 100%;
    height:108.79px;
}
.con_doc_5>ul{
    display: flex;
    justify-content: space-between; 
    position: relative;
    left:8%;
    height: 502px;
}
.con_doc_5>ul>li{
    width:406px;
    height:466px;
    border-radius: 1rem;
}
.con_doc_5_bot{
    width: 100%;
    height: 102.4px;
}
.bot{
    width: 100%;
    height:100%;
    padding-top: 1px;
}
.bot_contact{
    width: 100%;
    height: 173.59px;
    margin-top: 112px;
    margin-bottom: 104px;
}
.bot_footer{
    width: 100%;
    height: 83.75px;
}