@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Cabin:wght@500&family=Hahmlet&family=Noto+Sans+KR&family=Oswald&family=Roboto&display=swap');
/* @font-face {
    font-family: "pretendard";
    src: url('../../font/Pretendard-Regular.ttf');
    font-family:"pretendard_D";
    src: url('../../font/Pretendard-Bold.ttf');
    font-family: "pretendard_B";
    src: url('../../font/Pretendard-Black.ttf');  
} */
*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    padding:0rem;
    margin:0rem;
    color:#000;
}

/*top*/
.top_back{
    height:5rem;
    width:100%;
    position:fixed;
    top:0rem;
    background-color: rgba(0,0,0);
    border-bottom: 0.3rem solid rgb(243, 115, 33);
}
.Top{
    display:flex;
    align-items:center;
    height: 5.0rem;
    width: 100%;
    margin:auto;
    position: fixed;
    z-index:3;
    top:0rem;   
    backdrop-filter: blur(0.5rem);
}
.top_inner{
    display:flex;
    width:70rem;
    margin-left:calc((100% - 72.9rem)/2);
    margin-right:calc((100% - 72.9rem)/2);
}
.Homebutton{
    display:flex;
    margin-top:0rem;
    margin-left:4rem;   
    width: 15rem;
    height: 2.3rem;
    /*background-color: #bdc7e7;*/
    border-radius: 0.8rem;
    justify-content: center;
}
.Homebutton>a{
    display:flex;
    position:relative;
    width: 10.5rem;
}
.Homebutton>a>img{
    height:3rem ;
    position:relative;
    left:-0.1rem;
    top:-0.05rem;
}
.Homebutton>a>div{
    width:8.4rem;
}
.Homebutton_KR{
    font-family: 'Pretendard_D';
    font-size: 1.5rem;
    margin-top:-0.3rem;
    margin-left: 0.2rem;
    color:#f78121;
}
.Homebutton_EN{
    font-family: 'Cabin', sans-serif;
    font-size: 0.93rem;
    position: relative;
    font-weight: bold;
    top:-0.3rem;
    margin-left: 0.2rem;
    color:#f78121;
}
#check-btn { display: none; }
.hide_mark{
    display: none;
}
.popup{
    display:none;
}
.nav{
    display: flex;
    font-size:x-large;
    width:calc(100% - 11.2rem);
    justify-content: flex-end;
}
.nav>li{
    margin-right: 1rem;
}
.nav>li>a{
    display:block;
    position: relative;
    width:6rem;
    height:2.0rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    margin-top:0.4rem;
    font-family: 'pretendard';
    letter-spacing: 0.05rem;
    background-color: rgba(235, 235, 235,0.0);
    border: 0.15rem solid rgba(243, 115, 33,0);
    color:#f78121;
}
.nav>li>a:hover{
    background-color: rgba(247, 129, 33,0.8);
    border: 0.15rem solid rgb(243, 115, 33);
    color:rgb(0, 0, 0);
}

/*main*/
.header_nav_head{
    margin-left:calc((100% - 72.9rem)/2);
}
.header_nav_body{
    margin-left:calc((100% - 72.9rem)/2);
}
.Background{
    height: 44.52rem;
    width:100%;
    display: flex;
}
.Main{
    top: -100vh;
    height: 100%;
    width: calc(100% - 4.5rem);
    margin:auto;
    margin-top: 5rem;
    position: relative;
}
.info_back{
    display:flex;
    margin:auto;
    margin-top:5rem;
    width:80%;
    height:35rem;
    white-space: pre-wrap;
}
.info_text{
    width:35%;
    height: 100%;
}
.info_title{
    width:100%;
    height:13rem;
    font-size:4rem;
    font-family: 'Black Han Sans', sans-serif;
    color:#284dae;
}
.info_te{
    width:100%;
    height:16rem;
    font-size:2rem;
    font-family: 'Hahmlet', serif;
}
.info_ex{
    width:65%;
    height:90%;
    margin-top:5%;
    margin-left:4rem;                               
    font-size:1rem;
    font-family: 'Hahmlet', serif;
}
.info{
    width:100%;
    display:flex;
    margin-top:5rem;
    background-color: rgba(235, 235, 235,0.5);
}
.footer{
    border-top: 0.1rem solid #e1e1e1;
    background-color: white;
    height: 4rem;
    width:100%;
    position:relative;
    bottom:0;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
.creator{
    color:black;
    position: relative;
    top: 0.3rem;
}
.footer_inner>a{
    display:flex;
    position:absolute;
    left:77%;
    width:11rem;
    background-color: #e1e1e1;
    border-radius: 0.7rem;
}
.footer_inner>a>img{
    height:2.0rem ;
    margin-left:0.3rem;
    margin-top:0.2rem;
}
.footer_inner>a>span{
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    color:#284dae;
}