@keyframes waveeffect{
    0% {
        background-position:center 0vh;
        opacity: 1;
}
    100% {
        background-position:center 0.5vh;
        opacity: 1;
    }
}
@keyframes wavemovingeffect1{
    0% {
        background-position:0vw center;
    }
    100% {
        background-position:100vw center;
    }
}
.wave1{
    animation: wavemovingeffect1 5s linear infinite;
}
.waveback{
    width:100%;
    height: 15rem;
    position:relative;
    top:-15rem;
    z-index:3;
    /* opacity: 0; */
}
.waveback>div{
    position:absolute;
    /* background-color: aqua; */
    width:100%;
    height:100%;
}
.waveback1{
    animation: waveeffect .1s 1s linear;
}
.waveback1_5{
    top:1.5vh;
    animation: waveeffect .15s 1.1s linear;
}
.waveback2{
    top:2.5vh;
    animation: waveeffect .2s 1.25s linear;
}
.waveback3{
    top:4.3vh;
    animation: waveeffect .25s 1.45s linear;
}
.waveback4{
    top:7.7vh;
    animation: waveeffect .3s 1.7s linear;
}
.waveback4_5{
    top:9.5vh;
    animation: waveeffect .35s 2s linear;
}
.waveback5{
    top:10vh;
    animation: waveeffect .4s 2.35s ease-out;
}
/* .wave>div{
    position: absolute;
    width:100%;
    height:100%;
    background-color: white;
    opacity: 1;
} */
.wave{
    width:100%;
    height:15rem;
    position:relative;
    top:-30.7rem;
    z-index:3;
}
.wave>div{
    position:absolute;
    width:100%;
    height:100%;
    opacity: 0;
}
.wave1{
    background:url('../img/레이어\ 1.png') center center / 100% no-repeat   ;
    animation: waveeffect .2s 1s linear;
}/*
.wave2{
    top:1.5vh;
    background:url('../img/레이어\ 2.png') center center / 100% no-repeat;
    animation: waveeffect .2s 1.2s linear;
}
.wave3{
    top:2.5vh;
    background:url('../img/레이어\ 3.png') center center / 100% no-repeat;
    animation: waveeffect .2s 1.4s linear;
}
.wave4{
    top:4.3vh;
    background:url('../img/레이어\ 4.png') center center / 100% no-repeat;
    animation: waveeffect .2s 1.6s linear;
}
.wave5{
    top:7.7vh;
    background:url('../img/레이어\ 5.png') center center / 100% no-repeat;
    animation: waveeffect .2s 1.8s linear;
}
.wave6{
    top:9.5vh;
    background:url('../img/레이어\ 6.png') center center / 100% no-repeat;
    animation: waveeffect .2s 2s linear;
}
.wave7{
    top:10vh;
    background:url('../img/레이어\ 7.png') center center / 100% no-repeat;
    animation: waveeffect .17s 1.6s ease-out;
}
.wave8{
    background:url('../img/레이어\ 8.png') center center / 100% no-repeat   ;
    animation: waveeffect .19s 1.77 linear;
}
.wave9{
    top:1.5vh;
    background:url('../img/레이어\ 9.png') center center / 100% no-repeat;
    animation: waveeffect .21s 1.96s linear;
}
.wave10{
    top:2.5vh;
    background:url('../img/레이어\ 10.png') center center / 100% no-repeat;
    animation: waveeffect .23s 2.17s linear;
}
.wave11{
    top:4.3vh;
    background:url('../img/레이어\ 11.png') center center / 100% no-repeat;
    animation: waveeffect .25s 2.4s linear;
}
.wave12{
    top:7.7vh;
    background:url('../img/레이어\ 12.png') center center / 100% no-repeat;
    animation: waveeffect .27s 2.65s linear;
}
.wave13{
    top:9.5vh;
    background:url('../img/레이어\ 13.png') center center / 100% no-repeat;
    animation: waveeffect .29s 2.92s linear;
}
.wave14{
    top:10vh;
    background:url('../img/레이어\ 14.png') center center / 100% no-repeat;
    animation: waveeffect .31s 3.21 ease-out;
}
.wave15{
    background:url('../img/레이어\ 15.png') center center / 100% no-repeat   ;
    animation: waveeffect .33s 3.52s linear;
}*/